.devTable {
  height: 260px;
  overflow-y: scroll; /* or auto */
}

.formBox {
  border: 1px solid black;
  margin-top: 5px;
  font-size: 1.2rem;
}

.devRow:hover {
  background-color: lightgray;
}

.repoForm {
  padding-bottom: 1%;
}

.boxTitle {
  text-decoration: underline;
  margin-left: 5%;
}

.repoName {
  font-weight: bold;
}

.inputGroup {
  margin-left: 3%;
}

.inputLabel {
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: 10px;
}
