.cardstyle {
  display: flex;
  flex-direction: column;
  width: "18rem";
  height: "55rem";
  background-color: #e48d8d;
}

.card-body {
  background-color: rgb(96, 96, 96);
  color:white;
  border-color: darkgrey;
  border-style: solid;
  border-radius: 10px;
  border-color: slategray;
  padding: 10px;
} 
.text-muted {
  color:black;
}

.card-link {
  color: yellow;

}

card-link.hover {
  color: green;
  background-color: white; 
}